.img-responsive.medium {
	height: 250px;
}

.media-holder {
	width: 50%;
	margin: 0 auto;
	padding: 20px 0;
	min-height: 320px;
}
.wpcf7-response-output {
	clear: both;
}

.list-postbody {
	font-size: 14px;
	color: #696969;
}

a {
	text-decoration: none;
	cursor: pointer;
	display: block;
}

a:hover {
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.btn-submit {
	width: 240px;
	color: #FFF;
	font-size: 16px;
	background-color: #3b5998;
	/*padding: 20px 30px;*/
	border: 0;
	text-align: center;
	float: right;
}

.btn-submit:hover {
	color: #FFF;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul li a {
	text-decoration: none;
}

h2 {
	color: #333333;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 28px;
	text-transform: uppercase;
}

img {
	border-radius: 3px;
}

.color-1 {
	color: #636473;
	font-size: 16px;
}

.underline {
	width: 80px;
	height: 2px;
	background-color: #969696;
}

.center {
	margin-left: auto;
	margin-right: auto;
}


.line-740 {
	width: 740px;
	height: 1px;
	background-color: #dfe2e5;
	margin-top: 51px;
	margin-bottom: 78px;
	margin-left: auto;
	margin-right: auto;
}

.requirtment {
	font-weight: bold;
}

/*---------------custom bootstrap---------------*/
@media (min-width: 1200px) {
	.our-services {
		width: 885px;
	}
}

@media (min-width: 768px) and (max-width: 1170px) {
	.col-sm-12 {
		width: auto;
	}
}
@media all and (max-width: 767px) {
	.row div {
		margin-bottom: 10px;
	}

	.img-responsive.medium	{
		height: auto;
	}
}
.form-control { 
	border-radius: 0; 
}
input { height: 46px; }
textarea { height: 170px !important; }

.panel {
	background-color: rgba(255, 255, 255, 0);
	border: 0;
	-webkit-box-shadow: 0;
	-webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
	box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-group .panel {
	border-radius: 0;
}
.panel-default {
	border: 0;
}
.panel-default>.panel-heading {
	background-color: #e2e2e2;
	border: 0;
	border-radius: 0;
}
.panel-group .panel-heading+.panel-collapse>.panel-body, .panel-group .panel-heading+.panel-collapse>.list-group {
	border: 0;
}
.row {
	margin: 0;
}
.navbar-default {
	background-color: rgba(255, 255, 255, 0) !important;
	border: 0 !important;
}
.navbar-brand {
	height: auto;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border: 0;
}
.navbar-default .navbar-nav>li>a {
	color: #FFF;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #FFF;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: rgba(255, 255, 255, 0) !important;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, .nav>li>a:hover, .nav>li>a:focus {
	background-color: rgba(255, 255, 255, 0) !important;
	color: #FFF;
}
/*---------------custom bootstrap---------------*/

/*---------------wowslider--------------------*/

/*custom*/
.wowslider-container a.ws_next, .wowslider-container a {
	color: #83837f !important;
}
.wowslider-container a.ws_prev:before, .wowslider-container a.ws_next:before {
	background-color: rgba(229, 229, 229, 0.8);
}
.wowslider-container a.ws_next:hover:before, .wowslider-container a.ws_prev:hover:before {
	background-color: rgba(229, 229, 229, 0.8);
}
/*custom*/

.wowslider-container .ws_hovershow {
    /*display: none !important; */
    opacity: 0;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}

.wowslider-container:hover .ws_hovershow {
    /*display: block !important;*/
    opacity: 1;
    -webkit-transition:opacity 0.2s ease-in;
    -moz-transition:opacity 0.2s ease-in;
    -o-transition:opacity 0.2s ease-in;
    transition:opacity 0.2s ease-in;
}

/*playpause*/
.wowslider-container .ws_playpause {
    width: 18px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -9px;
    margin-top: -14px;
    z-index: 59;
}

.wowslider-container .pause {
    background-image: url(./pause.png);
}

.wowslider-container .play {
    background-image: url(./play.png);
}

.wowslider-container .pause:hover, .wowslider-container .play:hover {
    background-position: 100% 100% !important;
}

.wowslider-container .ws_fullscreen {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 20px;
    left: 15px;
    margin-left: -9px;
    margin-top: -14px;
    z-index: 59;
    background-image: url(./fullscreen.png);
}

div#ws_fullscreen:-moz-full-screen .wowslider-container {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:-webkit-full-screen .wowslider-container {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:fullscreen .wowslider-container {
    width: 95% !important;
    max-width: 100% !important;
    max-height: inherit;
}

div#ws_fullscreen:-moz-full-screen {
    background-color: #000;
    height: 100%;
}

div#ws_fullscreen:-webkit-full-screen {
    background-color: #000;
    height: 100%;
}

div#ws_fullscreen:fullscreen {
    background-color: #000;
    height: 100%;
}
/*---------------wowslider--------------------*/


@media all and (max-width: 1200px) {
	.subpage-name-header {
		margin-top: -40px;
	}
}

@media (min-width: 768px) and (max-width: 1170px) {
	.show-read-more {
		margin-bottom: 10px;
	}
}

@media all and (min-width: 767px) {
	.mar-100 { height: 100px; }
	.mar-div-30 { margin-top: 30px; }
	.mar-div-70 { margin-top: 70px; }

	.subpage-header {
		background-size: 100% 100%;
	}

	.menu {
		margin-top: 30px;
	}

	.project-gallery-home .list-gallery>div {
		/*margin-left: 10px;
		margin-right: 10px;
		margin-bottom: 40px;*/
	}

	.text-content span {
		margin-bottom: 36px;
	}

	.text-content ul.list1-home {
		margin-top: 36px;
	}

	.text-content ul.list1-home li {
		margin-bottom: 27px;
		padding-left: 25px;
	}

	.text-content ul.list1-home li.item1 {
		background-image: url(images/icon1.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.text-content ul.list1-home li.item2 {
		background-image: url(images/icon2.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.text-content ul.list1-home li.item3 {
		background-image: url(images/icon3.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.text-content ul.list1-home li.item4 {
		background-image: url(images/icon4.png);
		background-position: left center;
		background-repeat: no-repeat;
	}
	.text-content ul.list1-home li.item5 {
		background-image: url(images/icon5.png);
		background-position: left center;
		background-repeat: no-repeat;
	}

	.group div.description {
		/*width: 800px;*/
		margin-left: auto;
		margin-right: auto;
	}

	.producers {
		margin-bottom: 85px;
	}

	.list-producers>li {
		margin: 0 15px;
	}

	.list1-aboutus {
		margin-top: 35px;
	}

	.list-clients {
		margin-top: 80px;		
	}

	.contact-page {
		padding-top: 80px;
	}

	.list-producers {
		display: inline-flex;
	}

	.list-post>div {
		margin-bottom: 30px;
	}

	.list-post div div.info {
		padding: 28px;
	}

	.list-filter-project {
		margin-top: 80px;
	}

	.paginator {
		padding-bottom: 70px;
	}

	.our-services {
		padding: 0 25px 15px 25px;
	}

	.services {
		margin-top: 50px;
	}

	.services .list-services li {
		margin-right: 40px;
		margin-bottom: 40px;
	}

	.table-expertise div div {
		display: table-cell;
	}

	.table-expertise div div.left { 
		width: 30%;
	}
	.table-expertise div div.mid { 
		width: 40%; 
	}
	.table-expertise div div.right { 
		width: 30%;
	}

	footer .text-left, .text-right {
		margin-top: 48px;
	}

	footer .text-right .menu-social-footer { 
		right: 0;
	}

	footer .text-right .menu-social-footer {
		position: absolute;
		display: inline-flex;
	}

	footer.footer-subpage {
		box-shadow: 0px -20px 5px rgba(255, 255, 255, 0.9);
		padding-left: 100px;
		padding-right: 190px;
	}
}

@media all and (max-width: 767px) {

	.banner-home-shadow {
		display: none;
	}

	.media-holder {
		width: 100%;
	}

	.subpage-header {
		background-size: cover;
	}

	.subpage-name-header {
		margin-top: -20px;
	}

	.menu {
		margin-top: 40px;
	}

	.navbar-default .navbar-toggle {
		margin-top: 40px;
	}

	.project-gallery-home .list-gallery>div {
		margin-bottom: 10px;
	}

	.show-read-more img {
		width: 100%;
	}

	.text-content {
		padding: 30px 0;
	}

	.text-content span {
		margin-bottom: 10px;
	}

	.line-740 {
		display: none;
	}

	.producers {
		margin-bottom: 20px;
	}

	.list-producers>li {
		margin-bottom: 10px;
	}

	.list1-aboutus {
		margin-bottom: 10px;
	}

	.list-post {
		margin-top: 30px;
	}

	.list-post>div {
		margin: 15px 15px;
	}

	.list-post div div.info {
		padding: 15px;
	}

	.list-filter-project {
		margin-top: 20px;
	}

	.paginator {
		padding-bottom: 20px;
	}

	.services .list-services li {
		margin-right: 20px;
		margin-bottom: 10px;
	}

	.join-our-team {
		margin-top: 10px;
	}

	.list-projects>div {
		width: 100%;
	}

	footer .text-left {
		margin-top: 30px;
	}
}

@media all and (min-width: 450px) {
 	.list-filter-project {
  		display: inline-flex;
 	}
}

@media all and (max-width: 450px) {
 	.btn-filter {
  		width: 100%;
  		margin-bottom: 10px;
 	}
}

/*HEADER*/
.home-header {
	background-image: url(images/bg-top-home.jpg);
	background-size: 100% 120%;
	background-position: top left;
}


div.top .logo {
	width: 232px;
	padding: 0 0;
}

.menu li a {
	font-size: 13px;
	font-weight: bold;
}

.banner-home {
	position: relative;
	width: 100%;
	/*background-color: #FFF;*/
	/*overflow: hidden;	*/
}
.banner-home img 
{	
	width: 100%;
}

.banner-home-shadow {
	margin-top: -5px;
	width: 100%;
	height: 18px;
}
.banner-home-shadow img {
	width: 100%;
	border-radius: 0;
}

.subpage-header {
	background-image: url(images/bg-subpage-header.jpg);
	background-position: top left;
	min-height: 250px;
}

.header-shadow {
	width: 100%;
	height: 40px;
	background-image: url(images/header-shadow.jpg);
	background-repeat: repeat-x;
}
/*HEADER*/

/*CONTENT*/
.main {
	background-color: #f0f3f6;
}
.white-main {
	background-color: #FFF;
}

.cus1-main {
	background-color: #f9f9f9;
}

.cus2-bg {
	background-color: #343434;
}

.gallery {
	margin-top: 30px; 
}

.show-read-more {
	position: relative;
	width: 100%;
}

.show-read-more:hover .read-more {
    opacity: 1;
}
    
.read-more {
    width: 100%;
    height: 100%;
    opacity: 0;
    -moz-transition: all ease 400ms ease-in-out;
    -webkit-transition: all ease 400ms ease-in-out;
    -o-transition: all ease 400ms ease-in-out;
    transition: all ease 400ms ease-in-out;
    position: absolute;
    z-index: 9999;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    background-color: rgba(32, 32, 32, 0.9);
    transition: opacity 0.25s linear;
    border-radius: 3px;
}

.read-more span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.btn-read-more {
	font-size: 18px;
	color: #FFF;
	background-color: #bbbbbb;
	padding: 12px 12px;
	width: 120px;
	text-align: center;
}

.btn-rm {
	text-align: -webkit-center;
	margin-bottom: 26px;
}

.btn-read-more:hover {
	color: #FFF;
}

.group .description {
	margin-top: 30px;
}

.project-gallery-home .list-gallery {
	margin-top: 47px;
}

.project-gallery-home .list-gallery>div {
	/*float: left;*/
	/*background-color: #FFF;*/
	padding: 15px;
}

.project-gallery-home .list-gallery>div img {
	width: 100%;
}

.project-gallery-home .list-gallery>div .title {
	color: #3a3a3a;
	font-size: 16px;
	font-weight: bold;
	padding: 22px 17px;
	text-align: left;
	background-color: #FFF;
}

.list-about {

}

.list-about li {
	border-left: 1px #dadada solid;
	padding-left: 15px;
	margin-bottom: 10px;
	position: relative;
}

.list-about li p.title-30 {
	color: #383838;
	font-size: 30px;
}

.red-dot {
	position: absolute;
	top: 0;
	left: -3px;
	background-image: url(images/red-dot.png);
	background-repeat: no-repeat;
	background-color: #FFF;
	width: 5px;
	height: 10px;
}

.producers {
	margin-top: 68px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.list-producers>div {
	height: 442px;
	border: 1px #dcdfe2 solid;
	padding: 0;
	margin: 0 10px;
}

.list-producers>div div.avatar {
	background-color: #cecece;
	height: 270px;
	min-width: 260px;
}

.list-producers>div div.avatar img {
	width: 100%;
	height: 100%;
}

.list-producers>div div.info {
	max-width: 260px;
	position: relative;
	padding: 20px 25px;
	height: 172px;
}

.list-producers>div div.info .name {
	font-weight: bold;
}

.list-producers>div div.info .connect {
	position: absolute;
	left: 50%;
	top: 75%;
	bottom: 0;
	transform: translate(-50%,-50%);
	display: inline-table;
}

.list-producers>div div.info .connect li {
	float: left;
	margin-right: 20px;
}

.list-producers>div div.info .connect li a.icon {
	width: 26px;
	height: 27px;

}

.list-producers>div div.info .connect li:last-child { margin-left: 0px; }
.list-producers>div div.info .connect li:last-child { margin-right: 0px; }

.list-producers>div div.info .connect .icon.fb-icon { background-image: url(images/fb-icon.png); }
.list-producers>div div.info .connect .icon.gplus-icon { background-image: url(images/gplus-icon.png); }
.list-producers>div div.info .connect .icon.twitter-icon { background-image: url(images/twitter-icon.png); }
.list-producers>div div.info .connect .icon.linkedin-icon { background-image: url(images/linkedin-icon.png); }

.subpage-name-header {
	text-align: center;
}

.subpage-name-header span {
	color: #c0bbcb;
}

.subpage-name-header h1 {
	color: #FFF;
	font-size: 42px;
	font-weight: bold;
	text-shadow: 2px 2px #000;
}

.list1-aboutus {

}

.list1-aboutus li {
	max-height: 130px;
	overflow: hidden;
	margin-bottom: 30px;
}

.list1-aboutus li img {
	width: 280px;
}

.list1-aboutus li .title {
	font-size: 22px;
	font-weight: bold;
	color: #383838;
	line-height: 95%;
	padding-top: 8px;
	padding-left: 0px;
	padding-right: 0px;
}

.list-clients img {
	margin: 15 4px;
}

.contact-info .title {
	font-size: 24px;
	font-weight: bold;
	color: #000;
}

.contact-info .title-form {
	margin-left: 25px;
}

.form-contact {

}

.form-contact div {
	margin: 11px;
}

.table-expertise {
	display: table;
	margin-top: 50px;
	margin-bottom: 170px;
}

.table-expertise>div {
	display: table-row;
}

.table-expertise div div {
	vertical-align: top;
}

.table-expertise div div.left { 
	padding: 0 15px;
}
.table-expertise div div.mid img { 
	width: 100%;
}
.table-expertise div div.right { 
	padding: 0 15px;
}

.list-post {
	margin-top: 30px;
	width: 100%;
}

.list-post>div {
	border: 1px #ebebeb solid;
	width: 360px;
}

.list-post div div.item-main {
	width: 100%;
	height: auto;
}

.list-post div div.info {

}

.list-post div div.info .des {
	min-height: 120px;
}

.list-post div div.info h4 {
	font-size: 22px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
}

.sologan {
	min-height: 310px;
	color: #FFF;
	font-weight: bold;
	font-size: 16px;
	line-height: 30px;
	padding-top: 60px !important;
}

.tag .right {
	float: right;
}

.paginator {
	clear: both;
}

.paginator ul li {
	margin-right: 10px;
	display: inline-block;
}

/*.paginator ul li a.btn {
	border: 0px;
	color: #3b59a4;
	background-color: #ebebeb;
	height: 35px;
	border-radius: 20px;
}
*/
.paginator ul li .page-numbers {
	border: 0px;
	color: #3b59a4;
	background-color: #ebebeb;
	height: 35px;
	border-radius: 20px;
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
}

.paginator ul li a.page-numbers:active {
	background-color: #3b5998;
	color: #FFF;
}

.paginator ul li a.page-numbers:hover {
	background-color: #3b5998;
	color: #FFF;
}

.paginator ul li .current {
	background-color: #3b5998;
	color: #FFF;
}

.paginator .next, .paginator .prev {
	border-radius: 20px !important;
	width: auto !important;
}

.paginator ul li .page-numbers {
	width: 35px;
	border-radius: 50%;
}

.filter {
	text-align: center;
}

.list-filter-project li {
	margin-right: 5px;
}

.list-filter-project li a {
	border-radius: 0;
}

.list-filter-project li a:hover {
	background-color: #3b5998;
	color: #FFF;
}

.list-filter-project li a:active {
	background-color: #3b5998;
	color: #FFF;
}

.projects {
	margin-top: 35px;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

.list-projects {
	text-align: center;
}

.list-projects>div {
	background-color: #dddbdc;
	height: 337px;
	position: relative;
	padding: 0;
}

.list-projects div div.intro {
	width: 100%;
	height: 100%;
	opacity: 0;
	position: absolute;
	z-index: 9999;
	text-align: center;
	color: #FFF;
	background-color: #dedcdc;
	transition: opacity 0.25s linear;
	padding: 10px;
}

.list-projects div div.intro .content {
	background-color: #585858;
	width: 100%;
	height: 100%;
	padding: 20px;
	position: relative;
}

.list-projects div div.intro .content a {
	color: #FFF;
}

.list-projects div div.intro .content .icon-right {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
	height: 20px;
	background-image: url(images/ico-hover.png);
	background-repeat: no-repeat;
}

.list-projects div div.intro .content .text {
	width: 80%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.list-projects div div.intro .content .text p {
	margin-top: 5px;
}

.list-projects div div.intro:hover {
	opacity: 1;
}

.list-projects div div.feature {
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.div-what-we-do {
	margin-top: 1px;
	padding-top: 20px;
}

.what-we-do h4 {
	font-weight: bold;
}

.our-services {
	background-color: #f5f5f5;
	margin-left: auto;
	margin-right: auto;
}

.our-services p {
	margin-top: 10px;
}


.services .list-services li {
	width: 340px;
	float: left;
	padding-left: 50px;
	background-position: top left;
	background-repeat: no-repeat;
}

.services .list-services li.distribution { background-image: url(images/ico-distribution.png); }
.services .list-services li.production { background-image: url(images/ico-production.png); }
.services .list-services li.equipment-rental { background-image: url(images/ico-equipment.png); }
.services .list-services li.stuio-rental { background-image: url(images/ico-studio.png); }
.services .list-services li.post-production { background-image: url(images/ico-post-production.png); }

.services .list-services li h4 {
	text-transform: uppercase;
	color: #000;
}

.services .list-services li .sub-title {
	font-size: 16px;
}

.join-our-team {
}

.join-our-team .left {
	min-height: 640px;
	background-image: url(images/wearehire-left.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.join-our-team .right {

}

.banner { position: relative; overflow: auto; }
    .banner li { list-style: none; }
        .banner ul li { float: left; }

.banner-home img {
	border-radius: 0;
}

/*CONTENT*/

/*FOOTER*/
footer {
	clear: both;
	background-image: url(images/bg-footer.jpg);
	background-size: 100% 100%;
	height: 118px;
}

footer .text-left {
	text-align: left;
	color: #FFF;
	padding: 0;
}

footer .text-right {
	text-align: right;
	position: relative;
	padding: 0;
}

footer .text-right .menu-social-footer li {
	float: left;
	margin-right: 8px;
}

footer .text-right .menu-social-footer li:last-child {
	margin-right: 0px;

}
/*FOOTER*/

